<template bindable="menu">
    <div class="row bible-menu">
        <div class="col s12 left bible-menu__body">
            <div class="book-menu__search input-field">
                <i class="fa fa-search material-icons prefix" aria-hidden="true"></i>
                <input value.bind="menu.filter" id="book_filter" type="text" class="validate">
                <label for="book_filter" class="active">Book Name</label>
            </div>
            <div class="collection bible-menu__list">
                <a href="javascript:void(0)" class="collection-item"
                   repeat.for="book of menu.filteredItems" click.delegate="menu.selectItem(book)">
                    <span inner-text="${formatMenuItem(book)}"></span>
                </a>
            </div>
        </div>
    </div>
</template>