.btn-group .button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  float: left;
  height: 100%;
  padding: 0.6rem 0.7rem;
  line-height: 100%;
}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:last-child {
  border-radius: 0 0.4rem 0.4rem 0;
}

.btn-group .button:first-child {
  border-radius: 0.4rem 0 0 0.4rem;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group .button:hover {
  background-color: #3e8e41;
}
