/* _variables.scss */

$page-navbar-color: #112233;
$page-navbar-height: 3rem;
$collection-bg-color: rgba(255, 255, 255, 0.80);
$collection-border-color: rgb(245, 245, 245);
$study-section-bg: rgba(255, 255, 255, 0.70);
$logo_font: 'Lobster';

$button-gray: rgba(202, 202, 202, 0.8);
