<template bindable="page">
    <require from="/menuBar/component/menuBarComponent"></require>
    <require from="/verse/verseList/component/verseListComponent"></require>

    <div class="row full-height bible-page__body">
        <menu-bar menu-bar.bind="page.menuBar"></menu-bar>

        <div class="bible-page__body row offset-s1">
            <div class="bible-page__content col s10 offset-s1">
                <h4 class="center" inner-text="${page.currentBook.name} ${page.currentChapter.number}"></h4>
                <verse-list class="s12" verses.bind="page.currentVerses"></verse-list>
            </div>
        </div>
    </div>

</template>